td {
    text-align: left;
}
th {
    text-align: left;
}

tr {
    text-align: left;
}

tbody{
    align-items: left;
} 

.text-primary, .text-primary:hover, .text-primary:active, .text-primary:visited {
    background-color: transparent !important;
}
.text-danger, .text-danger:hover, .text-danger:active, .text-danger:visited {
    background-color: transparent !important;
}
.i{
    color:black;
}
.formFieldText{
    height: 30px;
}